body {
    background-color: black;
    text-align: center;
    font-family: verdana;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

/* styling for the mock url's */
.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#detail {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}